.timeline-container {
  position: center;
  padding: 0 0 0 180px;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.timeline-box {
  display: flex;
  padding: 1.3rem;
  flex-direction: row;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 4px;
}

.duration {
  min-width: 130px;
  text-align: left;
  color: #808495;
  margin-top: 0.5rem;
}

.timeline-content {
  width: 600px;
  padding-left: 1rem;
  border-radius: 4px;
  background-color: transparent;
}

.timeline-box:hover {
  background-color: rgba(255, 255, 255, 0.056);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); 
}

:global(.light) .timeline-content .MuiTypography-root:first-child {
  color: #1f2937 !important;
}

:global(.light) .timeline-content .MuiTypography-root:nth-child(2) {
  color: #747c8b !important;
}

.description-text {
  color: #646e85;
  opacity: 0.9;
}

:global(.dark) .description-text {
  color: #ebedf1 !important;
  opacity: 0.78 !important;
}